body {
  background-color: black;
  padding: 20px 5% 30px 5%;
}

.wrap {
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1600px;
}

.top-heaader {
  background-color: #1abc9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 5% 0 5%;
  min-height: 50px;
  box-sizing: border-box;
}

.top-heaader a {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(254, 254, 254);
  font-weight: 300;
}

.top-heaader a:hover {
  color: aquamarine;
}

.contacts {
  text-decoration: none;
  line-height: 2;
}

.info-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  line-height: 0;
}

header {
  margin: 0 auto;
}

.logo a {
  font-size: 30px;
  font-family: 'Roboto';

  text-transform: uppercase;
  font-weight: 400;
}

.green-logo {
  font-size: 30px;
  font-family: 'Roboto';
  color: #1abc9c;
  text-transform: uppercase;
  line-height: 1.067;
  font-weight: 700;
}

#hover a:hover {
  color: #1abc9c;
}

nav a {
  color: black;
  font-size: 14px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  line-height: 0.786;
  font-weight: bold;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 50px 3% 50px;
}

.nav-list {
  margin: 0;
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 30px;
}

.flex-block:hover .black {
  background-color: #1abc9c;
}

.flex-block:hover .grey {
  background-color: #7fd9c7;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10% 100px 10%;
}

.h2 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -2px;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  line-height: 0.667;
  font-family: 'Roboto';
}

h2 {
  margin: 0 0 30px 0;
}

.green {
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin-bottom: 60px;
}

header,
.first-section {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.flexlist {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flexlist img {
  width: 255px;
  height: 282px;
}

.flex-block {
  margin: 10px;
  display: flex;
  width: 255px;
  height: 322px;
  flex-wrap: wrap;
  cursor: pointer;
}

.black {
  width: 200px;
  height: 40px;
  color: #ffffff;
  background-color: #323232;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Roboto';
  padding: 11px 0 8px 13px;
}

.grey {
  background-color: #8c8c8c;
  color: #ffffff;
  box-sizing: border-box;
  width: 55px;
  height: 40px;
  font-size: 18px;
  font-family: 'Roboto';
  text-align: center;
}

.second-section {
  padding: 5% 10% 5% 10%;
  box-sizing: border-box;
  background-color: #e9f0fd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-block2 {
  width: 350px;
  height: 495px;
  margin: 10px 10px 50px 10px;
}

.flex-list2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-block2 a {
  display: block;
  width: 160px;
  height: 50px;
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 50px;
}

.flex-block2 a:hover {
  background-color: rgb(58, 148, 129);
}

.flex-block2 p {
  font-size: 14px;
  font-family: 'OpenSans';
  color: rgb(85, 82, 82);
  line-height: 1.857;
  margin: 30px 0 20px 0;
}

h3 {
  font-size: 18px;
  font-family: 'OpenSans';
  color: rgb(85, 82, 82);
  line-height: 1.444;
  margin: 15px 0 15px 0;
}

.green2 {
  background-color: rgb(78, 198, 171);
  width: 136px;
  height: 3px;
}

.flex-list2 img {
  margin: 0%;
  padding: 0;
  width: 350px;
  height: 260px;
}
