body {
  background-color: black;
  padding: 20px;
}

.wrap {
  width: 1300px;
  height: 2000px;
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  width: 1000px;
  margin: 0 auto;
  width: 1110px;
}

.logo a {
  font-size: 30px;
  font-family: "Roboto";
  /* color: #1abc9c; */
  text-transform: uppercase;
  font-weight: 400;
}

.green-logo {
  font-size: 30px;
  font-family: "Roboto";
  color: #1abc9c;
  text-transform: uppercase;
  line-height: 1.067;
  font-weight: 700;
}

#hover a:hover {
  color: #1abc9c;
}

nav a {
  color: black;
  font-size: 14px;
  font-family: "Open Sans";
  text-transform: uppercase;
  line-height: 0.786;
  font-weight: bold;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 120px 0;
}

.nav-list {
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 30px;
}

.flex-block:hover .black {
  background-color: #1abc9c;
}

.flex-block:hover .grey {
  background-color: #7fd9c7;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.h2 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -2px;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  line-height: 0.667;
  font-family: "Roboto";
}

h2 {
  margin: 0 0 30px 0;
}

.green {
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin-bottom: 60px;
}

header,
.first-section {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.flexlist {
  margin: 0;
  display: flex;

  width: 1110px;
  height: 680px;

  justify-content: space-between;
  align-content: space-between;

  flex-wrap: wrap;
}

.flexlist img {
  width: 255px;
  height: 282px;
}

.flex-block {
  display: flex;
  width: 255px;
  height: 322px;
  flex-wrap: wrap;
  cursor: pointer;
}

.black {
  width: 200px;
  height: 40px;
  color: #ffffff;
  background-color: #323232;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Roboto";
  padding: 11px 0 8px 13px;
}

.grey {
  background-color: #8c8c8c;
  color: #ffffff;
  box-sizing: border-box;
  width: 55px;
  height: 40px;
  font-size: 18px;
  font-family: "Roboto";
  text-align: center;
  /*  Два способа выравнивания по вертикали: */
  /* padding: 10px; */
  line-height: 40px;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-block2 {
  width: 350px;
  height: 495px;
}

.flex-list2 {
  display: flex;

  width: 1110px;

  justify-content: space-between;
}

.flex-block2 a {
  display: block;
  width: 160px;
  height: 50px;
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 50px;
}

.flex-block2 a:hover {
  background-color: rgb(58, 148, 129);
}

.flex-block2 p {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(85, 82, 82);
  line-height: 1.857;
  margin: 30px 0 20px 0;
}

h3 {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(85, 82, 82);
  line-height: 1.444;
  margin: 15px 0 15px 0;
}

.green2 {
  background-color: rgb(78, 198, 171);
  width: 136px;
  height: 3px;
}

.flex-list2 img {
  margin: 0%;
  padding: 0;
  width: 350px;
  height: 260px;
}
